/*  Palette: https://coolors.co/b9d8c2-9ac2c9-8aa1b1-4a5043-ffcb47 */

/* Begin navbar styles */

.navbar-container {
    height: 50px;
    width: 100%;
    background-color: #4a5043;
}

.navbar-icon {
    float: left;
    height: 40px;
    margin: 5px 0px 5px 5px;
}

.navbar-list {
    margin-top: 12px;
    float: right;
    margin-right: 50px;
    list-style: none;
}

.navbar-item {
    float: left;
    margin-left: 50px;
    font-family: "Play", sans-serif;
    font-variant: small-caps;
    font-size: 24px;
}

.navbar-item a {
    text-decoration: none;
    color: #FFCB47;
}

.navbar-item a:hover {
    text-decoration: underline;
    color: #b9d8c2;
}

/* End Navbar Styles */

/* Begin banner styles */

.banner-image {

    height: 150px;
    width: 100%;
    background-image: url("../img/nac2010.jpg");
    background-size: cover;
    background-position: 0% 15%;
}

.banner-image h1 {
    background-color: rgba(100, 100, 100, .8);
}

.banner-text {
    display: inline-block;
    color: white;
    margin-left: 45%;
    margin-top: 56.5px;
    font-family: 'Alegreya', serif;
}

/* End banner  styles */

/* Begin main body (index) styles */

.index-mainbody {
    width: 100%;
    height: 100%;
}

.intro-text {
    text-align: center;
    font-family: 'Play', sans-serif;
    margin: 30px 25px;
}

.lucky-container {
    width: 75%;
    clear: both;
    height: 360px;
    margin: 0 auto;
}

.header-container {
    height: 30px;
    width: 100%;
}

.lucky-header {
    background: linear-gradient(to right, #4a5043, #4e8d07);;
    width: 30%;
    margin: 0 auto;
    height: 30px;
    text-align: center;
  
}

.lucky-header i {
    color: #FFCB47; 
}

.lucky-header h4 {
    margin: 0px 10px;
    font-family: 'Alegreya', serif;
    font-size: 24px;
    color: #FFCB47;
    display: inline;
}

.lucky-paw {
    height: 30px;
    display: inline-block;
    float: left;
    
}

.lucky-paw-right {
    height: 30px;
    display: inline-block;
    float: right;
}

.lucky-pic-left {
    float: left;
    margin-right: 20px;
}

.lucky-pic-right {
    float: right;
    margin-left: 20px;
}

.lucky-text {
    font-family: 'Play', sans-serif;
    font-size: 18px;
}


.gateway-container {
    width: 30%;
    height: 30px;
    margin: 0 auto;
    min-width: 250px;
}

.gateway-header {
    font-family: 'Alegreya', serif;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(to right, #4a5043, #4e8d07);
    color: #FFCB47;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 70px;
    
}

.gateway-col {
    width: 50%;
    height: 300px;
    float: left;
    font-family: 'Play', sans-serif;
    margin-top: 30px;
}

.index-button {
    background-color: #4a5043;
    width: 200px;
    height: 30px;
    border: 0px;
    margin-left: 20px;
    box-shadow: 5px 5px #999;
    transition: all 1s;
    color: #FFCb47;
}

.index-button:hover {
    background-color: #85907a;
}

.index-button a {
    color: #FFCB47;
    text-decoration: none;
}

.gateway-map {
    float: right;
    margin-right: 25px;
}

.gateway-text {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    width: 75%;
}

.overwatch-container {
    clear: both;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.overwatch-header-cont {
    width: 22.5%;
    height: 30px;
    margin: 0 auto;
    background: linear-gradient(to right, #4a5043, #4e8d07);
}

.overwatch-container h4 {
    font-family: 'Alegreya', serif;
    text-align: center;
    font-size: 24px;
    color: #ffcb47;
    display: inline;
    padding: 0px 50px;
    
}

.overwatch-row {
    height: 100%;
    margin: 50px auto;
}

.overwatch-row-mid {
    width: 50%;
    height: 30px;
    margin: 50px auto;
}

.over-button-left {
    float: left;
}

.over-button-right {
    float: right;
}

.overwatch-img-left {
    background-image: url(../img/ow1-300.jpg);
    border-radius: 20%;
    float: left;
    width: 300px;
    height: 169px;
}

.overwatch-img-right {
    background-image: url(../img/ow2-300.jpg);
    background-size: cover;
    border-radius: 20%;
    float: right;
    width: 300px;
    height: 169px;
}

.overwatch-row p {
    color: black;
    clear: both;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Play", sans-serif;
    width: 40%;
    display: inline-block;
}

.fresnogc-container {
    margin-bottom: 50px;
}

.fresnogc-banner {
    height: 100%;
    width: 50%;
    
    background-position: center;
    margin: 0 auto;
    
}

.fresnogc-text {
    width: 60%;
    height: 100%;
    font-family: "Play", sans-serif;
    margin: 0 auto;
    font-size: 18px;
}

/* End main body Styles */





/*Begin footer Styles */

.footer-container {
    height: 150px;
    width: 100%;
    background-color: #4a5043;
    border: 1px solid black;
    float: left;
}

.footer-column {
    height: 100%;
    width: 33%;
    float: left;
    
}

.copyright-text {
    text-align: center;
    margin-top: 46.5px;
    color: #FFCB47;
    font-family: "Play", sans-serif;
}

.social-box {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.social-row {
    height: 50px;
    width: 100%;
    text-align: center;
}

.social-row .fa {
    font-size: 30px;
    padding-top: 10px;
    color: #000;
}

.social-row .fa:hover {
    color: #b9d8c2;
}

.social-icon-top {
    height: 50px;
    width: 50px;
    
    background: radial-gradient(#4a5043, #FFCB47, #4a5043);
    border-radius: 50%;
    float: right;
}

.social-icon-left {
    height: 50px;
    width: 50px;
    float: left;
    background: radial-gradient(#4a5043, #FFCB47, #4a5043);
    border-radius: 50%;
}

.social-middle {
    width: 66%;
    height: 100%;
    border-radius: 0%;
    background: linear-gradient(#4a5043, #FFCB47, #4a5043);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alegreya", serif;
    margin: 0 auto;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 20px;
}
